@model projekt.Models.Uczestnicy

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Uczestnicy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kraj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_urodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_urodzenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wynik_2018)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wynik_2018)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wynik_2017)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wynik_2017)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wynik_2016)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wynik_2016)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wynik_2015)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wynik_2015)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wynik_2014)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wynik_2014)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
