@model IEnumerable<projekt.Models.Uczestnicy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.ActionLink("Nazwisko", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Klub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kraj)
        </th>
        <th>
            @Html.ActionLink("Data urodzenia", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wynik_2018)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wynik_2017)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wynik_2016)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wynik_2015)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wynik_2014)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Klub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kraj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data_urodzenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wynik_2018)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wynik_2017)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wynik_2016)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wynik_2015)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wynik_2014)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
