@model projekt.Models.Polmaraton2017

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Polmaraton2017</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_zaw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_zaw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miasto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Klub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kraj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_urodzenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_urodzenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kat_wiek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kat_wiek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ptk_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptk_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ptk_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ptk_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wynik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wynik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.K)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.K)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
